$primary-color: black;
$bg: white;
body {
  color: $primary-color;
  background-color: $bg;
}

.hide {display: none; }

.activations {
  display: flex;
  flex-direction: rows;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

}