@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

$primary-color: black;
$bg: white;

body {
  color: $primary-color;
  background-color: $bg;
  font-family: "Open Sans", sans-serif;
  color: #282828;
}

main {
  background: aliceblue;
}

.layout {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
}

.container-fluid {
  width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
    margin: auto;
    padding: 24px;
}

.content {
  font-size: 14px;
  margin: 0 auto;
}

.wrap {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
    
}

.control-bar {
    width: 80%;
    margin: auto;
    font-size: 14px;
    padding: 0 30px;
    display: flex;
    //flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hero-area {
  width: 85%;
    display: flex;
    padding: 40px 0 40px 0;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}


.hide {display: none; }

// header
.sub-title{ padding-left: 0;}

#selected-image{
  width: 70%;
}

/////////////////////////////

#activations {
  display: flex;
  flex-direction: column;

  .activations-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: overlay;

    img {
      margin: 5px;
    }
  }

}

/**** CHART *****/

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

.charts {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart--horiz {
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.chart__bar {
  position: relative;
  
  width: 100%;
  
  height: 30px;
  margin-bottom: 10px;
}

.trans{
  position: absolute;
  opacity: 0;
  z-index: 0;
  $border-rad: 4px;
  background: #3cd3ad;

  //background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay(2, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay(3, 5s, 0.2s);
  }
}
.chart__label {
  position: absolute;
  z-index: 1;
  width: 80%;
  padding-left: 0;
  margin: 0;
  line-height: 30px;
  color: black;

  div:first-child {
    width: 40%;
    float: left;
    text-align: right;
  }

  div:last-child {
    width: 60%;
    text-align: right;
    margin: 0;
    padding: 0;
    float: right;
  }
}
